h1{
    color: rgba(140, 215, 250, 0.712);
}
head{
    color: #46484c
}
p{
    color:  #8b8b8bcc;
}
button{
    color:#fff;
}
body{
    background-color: cornsilk;
}
.header
{
    margin: 40px 20px 0 px 20px;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
}
li{
    display: inline;
}
.header>*{
    display: inline-block;

}
.logo{
    width: 15%;
}
.navbar{
    width: 70%;
    text-align: center;
    font-style:sans-serif ;
    line-height: 45px;
    
}
.actions{
    width: 15%;
    font-size: 14px;
    color: #67b54b;
    background-color: #67b54b;
    margin: 12px 10px 12px 10px;
}